/* Ajustes globales */
.app-container {
    display: none;
  }
  
  @media (max-width: 768px) {
    .navbar-toggler {
      display: block; /* Mostrarlo en pantallas pequeñas */
      position: absolute;
      top: 20px;
      left: 20px;
      z-index: 1000; /* Para asegurarse de que esté encima del contenido */
    }
  }
  .navbar {
    height: 70px; /* Asegúrate de que sea igual al sidebar */
  }
  
  .sidebar-container {
    width: 250px;
    height: 100vh;
    background-color: #476683;
    transition: transform 0.3s ease;
  }
  
  .sidebar-hidden {
    transform: translateX(-250px); /* Oculta el sidebar */
  }
  
  .content {
    flex: 1;
    padding: 20px;
  }
  
  .navbar-toggler {
    border: none;
    color: white;
  }
  
  /* Botón de hamburguesa en pantalla pequeña */
  .btn-outline-light {
    border-color: white;
  }
  
  .sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .sidebar ul li a {
    display: flex;
    align-items: center;
    padding: 15px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  
  .sidebar ul li a:hover {
    background-color: #34495e;
  }

  .sidebar .logout {
    position: absolute;
    bottom: 20px;
    width: 14.8%;
  }
  